<form  action="/animals" method="post">
  <label for="animal_name">What is the name of this pet?</label>
  <input type="text" name="animal_name">

  <label for="animal_gender">What is this pet's gender?</label>
  <input type="text" name="animal_gender">

  <label for="animal_arrival_date">When did this pet arrive?</label>
  <input type="text" name="animal_arrival_date">

  <label for="type">What kind of pet is this?</label>
  <input type="text" name="type">

  <label for="breed">What breed is this pet?</label>
  <input type="text" name="breed">




  <button type="submit">Add Animal to Inventory</button>
</form>
